.imgF {
  width: 100%;
  height: 65vmin;
  position: absolute;
  top: 0;
}

.topPageF {
  display: flex;
  flex-direction: column;
  height: auto;
}

.topPage__swiperF h1 {
  z-index: 11;
  position: absolute;
  top: 26vmin;
  left: 22vw;
  font-size: 8vmin;
  color: white;
}

.topPage__swiperF {
  display: flex;
  margin-top: 16vmin;
  margin-left: 70vmin;
}

@media screen and (max-width: 600px) {
  .topPage__swiperF {
    margin-left: 60vmin;
  }
  .topPage__swiperF h1 {
    left: 26vw;
    font-size: 6vmin;
  }
}

.swiper {
  width: 50vmin;
  height: 35vmin;
  display: flex;
  flex-direction: column;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}

.swiper-slide img {
  width: 90%;
  height: 100%;
  border-radius: 1em;
}

.swiper-slide h3 {
  color: white;
  font-size: 4vmin;
}
