.chooseStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 16vmin;
  width: 100%;
}

.chooseStyle ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6vmin;
  margin-top: 10vmin;
}

.chooseStyle li {
  text-decoration: none;
  list-style-type: none;
}

.chooseStyle select {
  display: flex;
  margin: 0 auto;
  background: var(--forty);
  border: none;
  width: 30vmin;
  height: 5vmin;
  border-radius: 10px;
  padding-left: 1em;
  font-size: 2.5vmin;
}

.container__card {
  position: absolute;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10vmin;
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vmin;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.card img {
  width: 25vmin;
  height: 25vmin;
  object-fit: contain;
  border-radius: 50%;
  margin-top: 3vmin;
  margin-bottom: 3vmin;
  background: white;
}

.card img::after {
  content: " ";
  display: block;
  width: 150%;
  text-align: center;
  height: 2px;
  background: var(--primary);
}

.card h3 {
  color: white;
  margin-top: 2vmin;
}

.ReactPlayer {
  margin-bottom: 2vmin;
}

.card p {
  overflow: scroll;
  position: absolute;
  opacity: 0;
  transform: translateY(10px) scale(0.8);
  transition: 1s;
  width: 100%;
  max-height: 54%;
  font-size: 2vmin;
  font-weight: 900;
  text-align: center;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1vmin;
}

.card p:hover {
  opacity: 1;
  scale: 1;
  transform: translateY(0px) scale(1);
  background: rgba(255, 255, 255, 0.7);
}

.card a {
  text-decoration: none;
  color: var(--fontprimary);
  margin-bottom: 2vmin;
}

.card a::after {
  content: " ";
  display: block;
  width: 100%;
  text-align: center;
  height: 3px;
  background: var(--forty);
}
